#!/bin/bash

lockfile=/tmp/.update_blastdb_for_crontab.sh.lock
rundir=$(dirname $0)
rundir=$(readlink -f $rundir)


if [ -f $lockfile ]; then
    echo "lockfile $lockfile exist, exit"
    exit 1
fi

date > $lockfile


trap 'rm -f "$lockfile"' INT TERM EXIT
#==========================================================================
export PSIPREDBIN=/server/var/www/pcons/bin/psipred/bin

cd $rundir

for dbname in swissprot nr uniref90; do
    bash update_blastdb.sh  $dbname  /data/blastdb
done

#==========================================================================


rm -f $lockfile
